.hamburger{
    inline-size: 1.5rem;
    block-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 2; 
    cursor: pointer;
}

.hamburger:active{
    transform: scale(.9);
}


.hambuger-line {
    inline-size: 100%;
    block-size: 2px;
    transform: rotate(0deg);
    background-color: var(--white); 
    transition: all ease-in-out .4s;
}

.hamburger:is(.hamburger--isOpen)
.hambuger-line:nth-last-of-type(1) {
    transform: rotate(-45deg) translateY(-5px) translateX(5px);
}

.hamburger:is(.hamburger--isOpen)
.hambuger-line:nth-last-of-type(2) {
    opacity: 0;
}

.hamburger:is(.hamburger--isOpen)
.hambuger-line:nth-last-of-type(3) {
    transform: rotate(45deg) translateY(5px) translateX(.2em);
}


@media screen and (min-width:1024px) {
    .hamburger {
        display: none;
    }
}