@import "../style/icon/icon.css";
/**************************************/
@import "./layout/grid.css";
@import "./layout/header.css";
@import "./layout/menu.css";
@import "./layout/template.css";
@import "./layout/hero.css";
@import "./layout/phone.css";
@import "./layout/section-card.css";
@import "./layout/footer.css";
/**************************************/
@import "./ui/button.css";
@import "./ui/hamburger.css";
@import "./ui/anchor.css";
@import "./ui/progress.css";
@import "./ui/images.css";
@import "./ui/card.css";
@import "./ui/logos.css";
/**************************************/

:root{
    --primary: #fed941; 
    --white: #ffffff; 
    --grey: #4d4c4c;
    --grey2: #808080; 
    --black: #000000; 
    --headline3: 800 2.875rem/3.5rem Inter; 
    --headline2: 700 3rem/3.625rem Inter; 
    --headline4: 700 1.75rem/normal Inter; 
    --headline5: 700 1.5625rem/normal Inter; 
    --button: 700 1.125rem/1.75rem Inter; 
    --caption: 400 0.75rem/1.375rem Inter; 
    --body1-regular: 400 1.125rem/1.6875rem Inter; 
    --body1-bold: 700 1.125rem/1.6875rem Inter; 
    --body2-regular: 400 1rem/1.375rem Inter; 
    --body2-bold: 700 1rem/1.1875rem Inter; 
}

body {
    font-size: 16px;
    margin: 0;
    padding: 0; 
    background-image: url(../images/hero-background.png);
    background-repeat: repeat;
    background-size:auto;
    background-position: top center;
}
 